
body {
    background-image: url('./../images/Dog_pics/brg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}

.adopt-card {
    display: flex;
    justify-content: space-evenly;
}

.title {
    padding-top: 20px;
    font-size: 80px;
    color: #ac1010;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

.pet-card {
    background-color: #F6EEC9;
    border: 2px solid #43741c;
    border-radius: 8px;
    padding: 20px;

    margin: 40px auto;
    width: 300px;
    box-shadow: 2px 2px 10px 5px rgb(138, 136, 136);
    float: left;
    text-align: center;
    font-size: 20px;
}

.pet-card-img {
    max-width: 150px;
    height: 120px;
    border-radius: 15px;
    border: solid #ac1010 1px;
    transition: transform 0.3s;
    box-shadow: 2px 2px 10px 5px rgb(138, 136, 136);
}

.pet-card-img:hover:hover {

    transform: scale(2.1);
}

.dog-card-img1:hover:hover {

    transform: scale(2.1);
}

.adopt-btn {
    background-color: #EE4E4E;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    margin-left: 30px;
    transition: transform 0.3s;
}

.adopt-btn:hover {
    background-color: #ac1010;
    transform: scale(1.3);
}

@media screen and (max-width: 600px) {
    .title {
        margin-top: 50px;
        font-size: 40px;
    }

    .adopt-card {
        flex-direction: column;
    }

}